@import "../mixin";
@import "../variables";

.treat {
  background: $color_bg_section_treat;
  color: $color_main_white;
  padding-bottom: 120px;
  @include respond-to(tablet) {
    & {
      padding-bottom: 100px;
    }
  }
  @include respond-to(mobile) {
    & {
      padding-bottom: 80px;
    }
  }

  &_heading {
    margin-bottom: 60px;
    @include respond-to(tablet) {
      & {
        margin-bottom: 50px;
      }
    }
    @include respond-to(mobile) {
      & {
        margin-bottom: 40px;
      }
    }
  }

  &_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 40px;
    @include respond-to(tablet) {
      & {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @include respond-to(mobile) {
      & {
        grid-template-columns: 1fr;
      }
    }
  }

  &_item {
    &_heading {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 2px solid $color_main_white;
    }
  }

}