@import "../variables";
@import "../mixin";

.header_search_wrapper, .header_search_input, .search_input_small_version, .search_label_small_version {
  display: none;
}

.search_label_small_version {
  font-size: 0;
}

.header_search_wrapper {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: calc(100vh - 100%); //100vh - header
  background: $color_block_bg;
  padding: 100px 120px 0 120px;
  text-align: center;
  @include respond-to(tablet) {
    & {
      padding: 100px 40px 0 40px;
    }
  }

  @include respond-to(mobile) {
    & {
      padding: 100px 15px 0 15px;
    }
  }
}


.header_search_field {
  width: 600px;
  height: 60px;
  border: none;
  padding: 0 35px;
  background-image: url("../img/search_icons/search_active_icon.svg");
  background-repeat: no-repeat;
  background-position: 98% center;
  background-size: 18px;
  @include respond-to(mobile) {
    & {
      width: 100%;
    }
  }

  &:focus {
    outline: none;
    border-color: $color_main_green;
    box-shadow: 0 0 2px $color_main_green;
    background-image: none;
  }
}

.header_search_label {
  display: block;
  background-image: url("../img/search_icons/serach_icon.svg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  font-size: 0;
}

.header_search_input {

  &:checked {
    & ~ .header_search_label {
      background-image: url("../img/search_icons/search_active_icon.svg");
    }

    & ~ .header_search_wrapper {
      display: block;
    }
  }
}

.search_label_small_version {
  background-image: url("../img/search_icons/serach_icon.svg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  font-size: 0;
}

.search_input_small_version {

  &:checked {
    & ~ .search_label_small_version {
      background-image: url("../img/search_icons/search_active_icon.svg");
    }

    & ~ .header_search_wrapper {
      display: block;
    }
  }
}

@include respond-to(tablet) {
  .header_search_label {
    display: none;
  }
  .search_label_small_version {
    display: block;
  }
}

@include respond-to(mobile) {
  .header_search_label {
    display: none;
  }
  .search_label_small_version {
    display: block;
  }
}


.header_search {
  margin-right: 35px;
}

@include respond-to(tablet) {
  .header_search {
    margin-right: 0;
  }
}

@include respond-to(mobile) {
  .header_search {
    margin-right: 0;
  }
}
